@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom variables */
:root{
  --primary: black;
  --secondary: white;
  --alternative: #ff001a;
  --awesome: #E59BE9;
  --mainBoxShadow: .5vw .5vw .3vw var(--alternative), inset .8vw 1vw .2vw var(--secondary), 1vw 1vw .2vw var(--secondary); 
  --borderColor: #8644A2;
  --elementShadow: .2vw .3vw .2vw #FFEBB2;  
  --bgHeaderFooter: black;
}

@property --top-left{
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
}

@property --top-right{
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
}

@property --bottom-left{
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --bottom-right{
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2C3E50;
}

/* Navbar & footer */
:is(.navbar, footer){
  background-color: var(--bgHeaderFooter);
}

/* Navbar */
.navbar-nav .nav-link:hover{
  color: var(--alternative);
}

.navbar-nav .nav-link{
  font-family: "Poppins", sans-serif;
  color: var(--secondary);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* Grid Layout */
:is(.wrapper) {
  display: grid;
  text-align: center;
}

/* Create 3 rows */
:is(.wrapper){
  grid-template-rows: auto minmax(1fr, 100dvh) auto;
}

section {
  scroll-margin-block: 5rem;
}

/* Universal Selector */
/* Custom CSS */
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: var(--primary);
}
html::-webkit-scrollbar-thumb {
  background: var(--alternative);
  border-radius: 5rem;
}


/* All Image Styling */
img {
  aspect-ratio:1;
  object-fit: cover;
  object-position:center;
}

img[alt='logo']{
  width: 8rem;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: center;
  transition: all .5s;

  &:hover{
      transform: scale(1.2);
  }
}

section {
  scroll-margin-block: 5rem;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 0, 26)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/* Home Section */
#home{
  height: auto;
  background-color: black;
}

/* banner animation*/
.stars{
  position: absolute;
  width: 100%;
  padding: 18rem;
  z-index: 0;
  background: var(--primary);
}

.stars div{
  width: 2rem;
  height: 2rem;
  margin: 0 4px;
  box-shadow: 0 14px 20px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 10%;
  left: 10%;
  animation: animate 4s linear infinite;
}

.star i{
  font-size: 2rem;
  z-index: 1;
}

div .star{
  height: 1rem;
  width: 1rem;
  border-radius: 20px;
  background: rgba(255,255,255.0.5);
  position: absolute;
  top: 20%;
  right: 20%;
}

.stars div:nth-child(1)
{
 top: 20%;
 left: 20%;
  animation: animate 8s linear infinite;
}

.stars div:nth-child(2)
{
 top: 90%;
 left: 50%;
  animation: animate 10s linear infinite;
}

.stars div:nth-child(3)
{
 top: 10%;
 left: 30%;
  animation: animate 5s linear infinite;
}

.stars div:nth-child(4)
{
 top: 60%;
 left: 40%;
  animation: animate 9s linear infinite;
}

.stars div:nth-child(5)
{
 top: 60%;
 left: 2%;
  animation: animate 3s linear infinite;
}

.stars div:nth-child(6)
{
 top: 40%;
 left: 5%;
  animation: animate 6s linear infinite;
}

.stars div:nth-child(7)
{
 top: 90%;
 left: 80%;
  animation: animate 4s linear infinite;
}

.stars div:nth-child(8)
{
 top: 20%;
 left: 60%;
  animation: animate 6s linear infinite;
}

.stars div:nth-child(9)
{
 top: 70%;
 left: 50%;
  animation: animate 7s linear infinite;
}

.stars div:nth-child(10)
{
 top: 10%;
 left: 60%;
  animation: animate 9s linear infinite;
}

.stars div:nth-child(11)
{
 top: 10%;
 left: 90%;
  animation: animate 11s linear infinite;
}

.stars div:nth-child(12)
{
 top: 70%;
 left: 90%;
  animation: animate 12s linear infinite;
}

.stars div:nth-child(13)
{
 top: 60%;
 left: 10%;
  animation: animate 13s linear infinite;
}

.stars div:nth-child(14)
{
 top: 20%;
 left: 80%;
  animation: animate 9s linear infinite;
}

.stars div:nth-child(15)
{
 top: 80%;
 left: 70%;
  animation: animate 10s linear infinite;
}

.stars div:nth-child(16)
{
 top: 10%;
 left: 70%;
  animation: animate 7s linear infinite;
}

.stars div:nth-child(17)
{
 top: 10%;
 left: 40%;
  animation: animate 14s linear infinite;
}

.stars div:nth-child(18)
{
 top: 20%;
 left: 50%;
  animation: animate 5s linear infinite;
}

.stars div:nth-child(19)
{
 top: 80%;
 left: 60%;
  animation: animate 5s linear infinite;
}

.stars div:nth-child(20)
{
 top: 50%;
 left: 80%;
  animation: animate 9s linear infinite;
}

.stars div:nth-child(21)
{
 top: 90%;
 left: 30%;
  animation: animate 9s linear infinite;
}

.stars div:nth-child(22)
{
 top: 90%;
 left: 10%;
  animation: animate 9s linear infinite;
}

.stars div:nth-child(23)
{
 top: 20%;
 left: 7%;
  animation: animate 9s linear infinite;
}

.stars div:nth-child(24)
{
 top: 60%;
 left: 70%;
  animation: animate 9s linear infinite;
}

.stars div:nth-child(25)
{
 top: 30%;
 left: 95%;
  animation: animate 9s linear infinite;
}

@keyframes animate {
  0% {
      transform: scale(0.5) translateY(0) rotate(70deg);
  }
  50% {
      transform: scale(0) translateY(0) rotate(70deg); /* Scale back up */
  }
  100% {
      transform: scale(0.5) translateY(0) rotate(70deg);
  }
}

.banner{
  width: 100%;
  height: auto;
  z-index: 1;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  padding-top: 0.5rem;
  padding-bottom: 10rem;
}

.homeImg{
  order: 1;
  z-index:1;
  padding-top: 1rem;
  margin-left: 2rem;
}

img[alt='leah']{
  width: 22rem;
  aspect-ratio: 3/4;
  object-fit: cover;
  object-position: center;
  box-shadow: var(--mainBoxShadow);
}

.Greeting{
  width: 44vw;
  background-color: transparent;
  order: 0;
  text-align: start;
  z-index: 1;
  margin-left: -2rem;
}

.Greeting h1{
  font-family: "Lato", sans-serif;
  font-size: 3.4rem;
  margin-top: 3rem;
  margin-left: -2rem;
}

.Greeting h1 span{
 font-family: "Montserrat", sans-serif;
 font-size: 4rem;
}

.Greeting h3{
  font-size: 4rem;
  font-family: "Inria Sans" , sans-serif;
  color: transparent;
  -webkit-text-stroke: 3px var(--alternative);
  position: relative;
  margin-bottom: 2rem;
  margin-left: -2rem;
}

.Greeting h3::before{
  content: "Developer";
  position: absolute;
  width: 0%;
  height: 100%;
  overflow: hidden;
  color: var(--alternative);
  border-right: 8px solid var(--alternative);
  transition: 1s ease-in-out;
}

.Greeting h3:hover::before{
  width: 58%;
  filter: drop-shadow(0 0 25px rgb(255, 0, 26));
}

.homeLinks{
  margin-left: -2rem;
}

.lnk i {
  font-size: 1.4rem;
  border-radius: 50%;
  padding: 8px 12px;
}

.lnk i:hover{
  color: var(--alternative);
  cursor: pointer;
}

/* Heading & Content Fonts */
.secHeading{
  font-family: "Inria Serif";
}
.sectionP{
  font-family: "Montserrat", sans-serif;
}

@keyframes fadeInUp{
  from {
      transform: translate3d(0,40px,0);
      opacity: 0;
  }
  to{
      transform: translate3d(0,0,0);
      opacity: 1;
  }
}

.reachMe{
  width: 100%;
  height: auto;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  padding-top: 6rem;
}

.contact-content{
  width: 37vw;
  background-color: var(--primary);
}

.contact-content img{
  width: 15rem;
  height: auto;
  border-radius: 50%;
  border: 2px solid var(--secondary);
  margin-top: 2rem;
}

.contactP{
  color: var(--secondary);
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
}

.contact-buttons{
  width: 24rem;
  display: flex;
  justify-content: space-around;
  gap: 2.1rem;
}

.formsDiv{
  width: 44vw;
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary);
}

.formsDiv h2{
  margin-top: 2rem;
}

#contactForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-group{
  width: 30vw;
  padding: 10px 42px;
}

input[class=form-control]:focus{
  border: 2px solid var(--alternative);
}

textarea[id=message]:focus{
  border: 2px solid var(--alternative);
}

.button1{
  background-color: transparent;
  color: var(--secondary);
  padding: 0.5rem 1rem;
  border: 2px solid var(--alternative);
  border-radius: 8px;
  width: 10rem;
}

.button1:hover{
  background-color: var(--alternative);
  border: 2px solid var(--secondary);
}

.contact-label{
  color: var(--secondary);
  display: flex;
}

/* Media query */
@media (width < 999px)
{
    .stars{
        display: none;
    }

    .banner{
        width: 90vw;
        height: auto;
        background-color: transparent;
        z-index: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 2rem;
    }

    img[alt='leah']{
        width: 14rem;
    }

    .homeImg{
      order: 2;
      margin: auto;
    }

    .Greeting{
        width: 78vw;
        height: auto;
        background-color: transparent;
        order: 1;
        text-align: center;
        margin-top: 0;
        margin-left: 0;
        margin: auto;
    }

    .homeLinks{
      margin-left: 0;
      margin-top: 1rem;
    }

    .lnk i {
        font-size: 1.2rem;
        padding: 2px 2px;
    }

    .Greeting h1{
        font-size: 1.2rem;
        text-align: center;
        margin-top: 0;
        margin-left: 0;
    }
    
    .Greeting h1 span{
      font-size: 2.1rem;
    }
    
    .Greeting h3{
        font-size: 1.2rem;
        text-align: center;
        font-weight: normal;
        margin-bottom: 1rem;
        -webkit-text-stroke: none;
        margin-bottom: 0;
        margin-left: 0;
    }

    .Greeting h3::before{
       display: none;
    }

/* Reach Me Section */
.reachMe{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.contact-content{
  width: 100%;
}

.formsDiv{
  width: 100%;
}

.formsDiv h2{
  margin-top: 2rem;
}

.form-group{
  width: 100%;
  padding: 10px 42px;
}

.button1{
  width: 12rem;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  font-size: 0.7rem;
}

.contact-label{
  font-size: 0.9rem;
}

.contact-buttons{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0rem;
  margin-top: -1rem;
}

}


 